@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fff;
  --secondary-color: #a3a3a3;
  --medium-color: #e5e5e5;
  --background-color: #0a0a0a;
}

body {
  background-color: var(--background-color);
  color: var(--secondary-color);
}
